.App {
  text-align: center;
}

.App-logo {

  height: 40vmin;
  pointer-events: none;
}
.trefle {
  width: 5%;
}


.App-header {
  font-family: "IBM Plex Sans Condensed Medium", "sans-serif";
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  text-shadow: 8px 9px 16px #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
